.container {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    background-color:rgb(175, 175, 175);
    border-radius: 10px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 380px;
    height: 100px;
    background-color:rgb(212, 212, 212);
    border: 4px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}

.display-text {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-right: 10px;
    text-align: center;
}

.button-container {
    width: 390px;
    height: 360px;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.button {
    width: 85px;
    height: 64px;
    box-sizing: border-box;
    border: 4px solid black;
    background-color:rgb(219, 219, 219);
    text-align: center;
    border-radius: 10px;

    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}